<ion-view view-title="设置">
    <header-bar></header-bar>
    <ion-content>
            <ion-item class="item item-icon-right" ng-click="userSetting()">账号设置
                <i class="icon ion-chevron-right" style=" font-size: 25px;color: #BEBEBE;"></i>
            </ion-item>
            <ion-item class="item  item-icon-right" ng-click="noticeTools() ">通知设置
                <i class="icon ion-chevron-right" style=" font-size: 25px;color: #BEBEBE;"></i>
            </ion-item>
    </ion-content>
</ion-view>
