<div class="list list-insert" ng-model="consultation">
    <div class="item item-input">
        <div class="input-label">会诊序列号</div>
        <div class="autoHeight">{{consultation.consultationApplyNo}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">会诊类型</div>
        <div class="autoHeight">{{consultation.consultationType}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人姓名</div>
        <div class="autoHeight">{{consultation.name}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人床号</div>
        <div class="autoHeight">{{consultation.bedNo}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人科室</div>
        <div class="autoHeight">{{consultation.deptName}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">主治医生</div>
        <div class="autoHeight">{{consultation.doctorName}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">诊断基本信息</div>
        <div class="autoHeight">{{consultation.diagnosis}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">参与科室</div>
        <div class="autoHeight">{{consultation.invitedDeptName}}</div>
    </div>
</div>