<div class="list list-insert" ng-model="operation">
    <div class="item item-input">
        <div class="input-label">手术名称</div>
        <div class="autoHeight">{{operation.operationName}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">手术台次</div>
        <div class="autoHeight">{{operation.sequence}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">手术等级</div>
        <div class="autoHeight">{{operation.operationLevel}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">手术时间</div>
        <div class="autoHeight">{{operation.operationTime|date:'yyyy/MM/dd HH:mm'}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">手术医生</div>
        <div class="autoHeight">{{operation.surgeon}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人姓名</div>
        <div class="autoHeight">{{operation.patientName}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人性别</div>
        <div class="autoHeight">{{operation.patientSex}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">病人床号</div>
        <div class="autoHeight">{{operation.patientBedNo}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第一助手</div>
        <div class="autoHeight">{{operation.firstAssistant}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第二助手</div>
        <div class="autoHeight">{{operation.secondAssistant}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第三助手</div>
        <div class="autoHeight">{{operation.thirdAssistant}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第四助手</div>
        <div class="autoHeight">{{operation.fourthAssistant}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第一台上护士</div>
        <div class="autoHeight">{{operation.firstOperationNurse}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第二台上护士</div>
        <div class="autoHeight">{{operation.secondOperationNurse}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第一助理护士</div>
        <div class="autoHeight">{{operation.firstSupplyNurse}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">第二助理护士</div>
        <div class="autoHeight">{{operation.secondSupplyNurse}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">麻醉医生</div>
        <div class="autoHeight">{{operation.anesthesiaDoctor}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">麻醉助手</div>
        <div class="autoHeight">{{operation.anesthesiaAssistant}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">麻醉方法</div>
        <div class="autoHeight">{{operation.anesthesiaMethod}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">隔离标志</div>
        <div class="autoHeight">{{operation.seperateFlag}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">输血医生</div>
        <div class="autoHeight">{{operation.bloodTranDoctor}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">申请日期</div>
        <div class="autoHeight">{{operation.applyTime|date:'yyyy/MM/dd HH:mm'}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">申请者</div>
        <div class="autoHeight">{{operation.applicant}}</div>
    </div>
    <!--<div class="item item-input">-->
    <!--<div class="input-label">手术助手</div>-->
    <!--<div class="autoHeight">{{operation.assistant}}</div>-->
    <!--</div>-->
    <div class="item item-input">
        <div class="input-label">术前准备</div>
        <div class="autoHeight">{{operation.preparation}}</div>
    </div>
    <div class="item item-input">
        <div class="input-label">主要诊断</div>
        <div class="autoHeight">{{operation.patientDiagnose}}</div>
    </div>
</div>