<ion-view view-title="Formula" class="formulaView">
    <header-bar></header-bar>
    <ion-content>
        <div class="cardStyle">
            <div class="littleTitle"><label class="labelStyle">通用公式</label></div>
            <ion-list>
                <ion-item ng-repeat="item in formulaList"
                          ng-value="item.formulaName"
                          ng-model="item.formulaName"
                          ng-click="toDetail(item.formulaId)">
                    {{ item.formulaName}}
                    <ion-option-button class="button-assertive"
                                       ng-click="doRemove(item)">
                        移除
                    </ion-option-button>
                </ion-item>
                <button class="button ion-plus-circled addButton"
                        ng-click="toAdd()"></button>
            </ion-list>
        </div>
        <div class="cardStyle">
            <div class="littleTitle"><label class="labelStyle">自定义公式</label></div>
            <ion-list>
                <ion-item ng-repeat="item in myFormulaList"
                          ng-value="item.formulaName"
                          ng-model="item.formulaName"
                          ng-click="toMyDetail(item)">
                    {{ item.formulaName}}
                    <ion-option-button class="button-assertive"
                                       ng-click="doDelete(item)">
                        删除
                    </ion-option-button>
                    <ion-option-button class="button-calm"
                                       ng-click="doEdit(item)">
                        编辑
                    </ion-option-button>
                </ion-item>
                <button class="button ion-plus-circled addButton"
                        ng-click="toAddMine()"></button>
            </ion-list>
        </div>
    </ion-content>
</ion-view>