<div>
    <div class="deliver-time">
        {{message.deliverTime | deliverTimeFilter}}
    </div>
    <div class="card consultationNotice-card" on-hold="deleteMessage($index)">
        <div class="row message-header">
            <div class="icon-test icon-class">
            </div>
            <div class="message-title">
                会诊通知
            </div>
        </div>
        <div class="message-content">
            <div class="row">
                <div class="consultation-name">{{message.diagnosis}}</div>
                <div class="consultation-dept">{{message.deptName}}</div>
            </div>
            <div class="row">
                <div class="bedno-class">{{message.patBedNo}}床</div>
                <div class="name-class">{{message.patientName}}</div>
                <div class="time-class">{{message.attendTime}}</div>
            </div>
        </div>
        <div class="row">
            <div class="unread-class">
                <div ng-if="message.readTimes==0">新</div>
            </div>
            <div class="row message-footer" ng-click="toConsultationDetail($index)">
                <div class="col">查看详情</div>
            </div>
        </div>
    </div>
</div>
