<div class="list list-insert">
    <label class="item item-input">
        <span class="input-label">申请医生</span>
        <label class="selectField">石献州</label>
    </label>
    <label class="item item-input">
        <span class="input-label">申请药物</span>
        <label class="selectField">青霉素</label>
    </label>
    <label class="item item-input">
        <span class="input-label">用量</span>
        <label class="selectField">500g</label>
    </label>
    <label class="item item-input">
        <span class="input-label">病人科别</span>
        <label class="selectField">普通外科</label>
    </label>
    <label class="item item-input">
        <span class="input-label">病人姓名</span>
        <label class="selectField">谷增光</label>
    </label>
    <label class="item item-input">
        <span class="input-label">病人年龄</span>
        <label class="selectField">43</label>
    </label>
    <label class="item item-input">
        <span class="input-label">病人诊断</span>
        <label class="selectField">右侧腹股沟斜疝</label>
    </label>
    <label class="item item-input">
        <span class="input-label">病人床位</span>
        <label class="selectField">1床</label>
    </label>
    <label class="item item-input">
        <span class="input-label">审核状态</span>
        <label class="selectField">{{checked?"未审核":"已审核"}}</label>
    </label>
</div>