<div>
    <div class="deliver-time">
        {{message.deliverTime | deliverTimeFilter}}
    </div>
    <div class="card exam-card" on-hold="deleteMessage($index)">
        <div class="row message-header">
            <div class="icon-check icon-class">
            </div>
            <div class="message-title">
                检查
            </div>
        </div>
        <div class="message-content">
            <div class="row">
                <div class="exam-class">{{message.examClass}}</div>
                <div class="exam-subclass">{{message.examSubClass}}</div>
            </div>
            <div class="row">
                <div class="bedno-class">{{message.patientBedNo}}床</div>
                <div class="name-class">{{message.patientName}}</div>
                <div class="time-class">{{message.examDateTime}}</div>
            </div>
        </div>
        <div class="row">
            <div class="unread-class">
                <div ng-if="message.readTimes==0">新</div>
            </div>
            <div class="row message-footer" ng-click="toExamReport($index)">
                <div class="col">查看详情</div>
            </div>
        </div>
    </div>
</div>
