<div>
    <div class="deliver-time">
        {{message.deliverTime | deliverTimeFilter}}
    </div>
    <div class="card operation-card" on-hold="deleteMessage($index)">
        <div class="row message-header">
            <div class="icon-shoushu icon-class">
            </div>
            <div class="message-title">
                手术通知
            </div>
        </div>
        <div class="message-content">
            <div class="row">
                <div class="operation-name">{{message.operationName}}</div>
            </div>
            <div class="row">
                <div class="bedno-class">{{message.patientBedNo}}床</div>
                <div class="name-class">{{message.patientName}}</div>
                <div class="time-class">{{message.operationTime | date:'yyyy-MM-dd HH:mm'}}</div>
            </div>
        </div>
        <div class="row">
            <div class="unread-class">
                <div ng-if="message.readTimes==0">新</div>
            </div>
            <div class="row message-footer" ng-click="toOperationDetail($index)">
                <div class="col">查看详情</div>
            </div>
        </div>
    </div>
</div>
