<div>
    <div class="messageTime">2015-1-23 14:02:59</div>
    <div class="card">
        <div class="item item-divider item-icon-left message-item-header">
            <i class="icon ion-scissors normalColor"></i>
            <div class="todayOperation normalColor">今日手术</div>
            <div class="tomorrowOperation normalColor">明日手术</div>
        </div>
        <div class="item item-text-wrap">
            <div class="operationInfos">
                <a href="#/operationDetail">
                    <p>谷增光</p>
                    <p>阑尾切除</p>
                </a>
            </div>
            <div class="operationInfos">
                <a href="#/operationDetail">
                    <p>谷增光</p>
                    <p>阑尾切除</p>
                </a>
            </div>
            <div class="operationInfos">
                <a href="#/operationDetail">
                    <p>谷增光</p>
                    <p>阑尾切除</p>
                </a>
            </div>
            <div class="operationInfos">
                <a href="#/operationDetail">
                    <p>谷增光</p>
                    <p>阑尾切除</p>
                </a>
            </div>
        </div>
    </div>
</div>