<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="mobileAppBaseBtn" align-title="center" animation="slide-in-up">
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="sideMenu">
        <ion-content>
            <div class="list"></div>
            <div class="list"></div>
            <div class="list"></div>
            <div class="list card menuUser">
                <div class="item menuUserImage menuItem">
                    <img class="menuItemImage" ng-src="images/{{img}}" ng-click="userImage()">
                </div>
                <div class="item menuUserInfo menuItem">
                    <div>{{username}}</div>
                    <div>{{job}}</div>
                </div>

            </div>
            <div class="list">
                <div class="item item-icon-left nav-clear menu-close menuItem" ng-click="toMessageView()">
                    <i class="icon ion-chatbubble-working"></i>
                    消息
                    <span class="badge badge-assertive" ng-if="message.count">{{message.count}}</span>
                </div>
                <div class="item item-icon-left nav-clear menu-close menuItem" ng-click="toPatlistView()">
                    <i class="icon ion-clipboard"></i>
                    病人
                </div>
                <div class="item item-icon-left nav-clear menu-close menuItem" ng-click="toScheduleView()">
                    <i class="icon ion-calendar"></i>
                    日程
                </div>
                <div class="item item-icon-left nav-clear menu-close menuItem" ng-click="toUserView()">
                    <i class="icon ion-person"></i>
                    我的
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
