<ion-view class="setConfigView">
    <header-bar></header-bar>
    <ion-content>
        <label class="item item-input"> 后台地址：
            <input type="text" placeholder="请输入后台服务器的地址" ng-model="url['value']" >
        </label>
        </div>
        <div class="content">模式选择</div>
        <div class="list" >

            <label class="item item-radio" >
                <input type="radio" name="group" ng-checked="checked('0')" ng-click="selectItem(0)">
                <div class="item-content">
                    在线模式
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" ng-checked="checked('1')" ng-click="selectItem(1)" >

                <div class="item-content">
                    录制模式
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group"  ng-checked="checked('2')" ng-click="selectItem(2)">
                <div class="item-content">
                    离线模式
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
