<ion-view view-title="我的">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon mobileAppBaseBtn" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="userView">
        <div class="list"></div>
        <div class="list">
            <a class="item item-thumbnail-left">
                <img class="userImage" src="images/{{img}}" ng-click="userImage()">

                <h2 class="userInfo">{{username}}</h2>

                <p class="userInfo">{{job}}</p>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="toToolsView()">
                <i class="icon ion-gear-b settingIcon"></i>
                设置
                <i class="icon ion-chevron-right userItemGear"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="toPatCollectListView()">
                <i class="icon ion-person-stalker patientStoreIcon"></i>
                病人收藏
                <i class="icon ion-chevron-right userItemGear"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="toFormulaView()">
                <i class="icon ion-calculator formulaIcon"></i>
                医学公式
                <i class="icon ion-chevron-right userItemGear"></i>
            </a>
        </div>
        <div class="list"></div>
        <div class="userClose" ng-click="logout()">注销</div>
    </ion-content>
</ion-view>
