<div class="card cardStyle">
    <div class="TitleStyle row" ng-click="queryLabReport(labItem)">
        <div class="icon-test  col col-10"></div>
        <div class="examClassDiv  col col-50">{{labItem['subject']}}</div>
        <div class="examStatusDiv  col col-33">{{labItem['examResultStatusName']}}</div>
        <div class="icon-arrow  col " ng-show="hideOrShow(labItem['examResultStatusName'])"></div>
    </div>
    <div class="labelTitle row">
        <div class=" col col-33">{{labItem['specimen']}}</div>
        <div class="textCenter col col-57 ">{{labItem['deptName']}}</div>
    </div>
    <div class="labelTitle row">
        <div class=" col col-33">{{labItem['orderingProvider']}}</div>
        <div class="textCenter col col-57 ">{{labItem['requestedDateTime']}}</div>
    </div>
</div>
