<div class="card cardStyle">
    <div class="TitleStyle row" >
        <div class="icon-time col col-10" ></div>
        <div class="labReportDateTime col " ng-bind="labReportItemDateTime"></div>
       </div>
    <div class="labelTitle row" ng-repeat="labReportItem in labReportList|filterList:labReportItemDateTime"
         ng-click="queryLabTrendChart(labReportItem)" >
        <div class="col col-33">{{labReportItem['reportItemName']}}</div>
        <div class="col col-25">{{labReportItem['referenceRange']}}</div>
        <div class="col col-25">{{labReportItem['result']}}{{labReportItem['units']}}&nbsp;{{labReportItem['exception']}}</div>
        <div class="icon-arrow col col-10" ng-show="hideOrShow(labReportItem['result'])"></div>

    </div>
</div>-->
<div class="card cardStyle">
    <div class="TitleStyle" >
        <div class="icon-time" ></div>
        <div class="labReportDateTime" ng-bind="labReportItemDateTime"></div>
       </div>
    <div class="labelTitle" ng-repeat="labReportItem in labReportList|filterList:labReportItemDateTime"
         ng-click="queryLabTrendChart(labReportItem['reportItemCode'])" >
        <div class="labLeft">{{labReportItem['reportItemName']}}</div>
        <div class="labCenter">{{labReportItem['referenceRange']}}</div>
        <div class="labRight">{{labReportItem['result']}}{{labReportItem['units']}}&nbsp;{{labReportItem['exception']}}</div>
        <div class="icon-arrow" ng-show="hideOrShow(labReportItem['result'])"></div>
    </div>
</div>

